* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  margin: 10vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.5vh;
  
}
.income-style:hover {
  background-color:#fdf2e7 ;

}
body {
  padding: 0;
  margin: 0;
  background-color:#ffffff;
}
.income-style {
  background-color:#FFF7F1 ;
  border: groove white;
  padding: 5vh;
  border-radius: 10vh;
}
.expense-style {
  background-color: #FFF7F1;
  border: groove white;
  padding: 5vh; border-radius: 10vh;
}
.expense-style:hover {
  background-color: #fdf2e7 ;
}
.target-style {
  background-color: #FFF7F1;
  border: groove white;
  padding: 5vh; border-radius: 10vh;
}
.target-style:hover {
  background-color: #fdf2e7 ;
}
.transfer-style {
  background-color: #FFF7F1;
  border: groove white;
  padding: 5vh; border-radius: 10vh;
}
.transfer-style:hover {
  background-color: #fdf2e7 ;
}
button {
  background-image: linear-gradient(
    to right,
    #BED1CF 0%,
    #E78895 51%,
    #FFF7F1 100%
  );
  margin-top: 2vh;
  margin-left: 15vh;
  padding: 1vh 2vh;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  border-radius: 10px;
  
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.list {
  display: flex;
  
  background-color: #BED1CF;
  margin-top: 6vh;
  border: solid white;
  border-radius: 2vh;
  padding: 2vh 2vh;
  box-shadow: 0 0 20px #eee;
  list-style: none;
}
nav {
  display: flex;
  justify-content: center;
  padding: 2vh;
  background-color: #9ebab8;
}

.nav-bar {
  color: #f2ebeb;
  list-style: none;
  padding: 1vh 7vh;
  text-decoration: none;
  font-weight: bold;
  font-size: 3vh;
  text-transform: capitalize;
  border-top: solid #feffff90;
  border-radius: 2vh;
  margin: 0 5vh;
}
.nav-bar:hover {
  border-color: #E78895;
  color: #E78895;
  box-shadow: 4px 4px 4px 0px #ffffff;
  background-color: #fafeff;
}
.delete-button {
  padding: 1vh 1vh;
}
.source {
  display: grid;
}
.amount {
  display: grid;
}
.date {
  display: grid;
}
.home-image {
  height: 50vh;
}
.home-container {
  margin: 20vh ;
  display: flex;
  justify-content: space-around;
  border-radius: 90vh;
background-color: #fcebee;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.home-container h1 {
  padding-top: 10vh;
  padding-left: 16vh;
  line-height: 6vh;
  text-transform: capitalize;
  
}
.home-container h1::first-letter {
  font-size: 5vh;
}
